html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "impact";
}

.header {
  background-color: #696969;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: right;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main_img{
  width: 100%;
  height: 500px;

}

.main_top{
  position: relative;

}

.main_top p{
  position: absolute;
  color:black;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size:60px;

}

.about{
  background-color: #ffffe0;
}

.about_top{
  text-align: center;
}

.about_mian{
  text-align: center;
}

.about_main span{
  float:left;
  line-height: 80px;
  margin-left: 30px;
}

span{
  height:200px;
}

.about_main .introduction{
  display: flex;
	align-items: center;
  text-align: center;
  font-size: 20px;
  height:200px;
  padding-left:70px;
  padding-right:60px
}

.skill_top{
  text-align: center;
}

.skill_main p{
width:50%;
float:left;
margin-top:20px;
}
